# A Machine Learning Model to Predict Customer Churn

## **Project Description**
The goal of this project is to develop a supervised machine learning model to analyze customer attrition within the Vodafone telecom company. The model will utilize any provided dataset to generate new observations by accurately determining whether a customer is likely to churn or not. This initiative aims to provide valuable insights into customer behavior, enabling the identification of potential churn and facilitating strategic interventions to retain customers effectively. The outcome of the project will contribute to a more informed and proactive approach to customer relationship management within Vodafone.

#### The data set includes information about:

* Customers who left within the company  — the column is called Churn.
* Services that each customer has signed up for — phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies
* Customer account information — how long they’ve been a customer (Tenure ), contract, payment method, paperless billing, monthly charges, and total charges
* Demographic info about customers — gender, age range, and if they have partners and dependents
Demographics
CustomerID: A unique ID that identifies each customer.
* Senior Citizen: Indicates if the customer is older: Yes, No
* Dependents: Indicates if the customer lives with any dependents: Yes, No. Dependents could be children, parents, grandparents, etc.
* Tenure in Months: Indicates the total amount of months that the customer has been with the company 
* total charges is  equal to each tenue times monthly charges.
* Multiple Lines: Indicates if the customer subscribes to multiple telephone lines with the company: Yes, No

## **Hypothesis Testing**


Null Hypothesis (H0):

* H0: There is no significant relationship between customer churn and the termination of their contract.

Alternative Hypothesis (H1):

* H1: There is a significant relationship between customer churn and the termination of their contract.

## **Analytical Questions**
1. What is the overall count of customers who have discontinued their services with the company?

2. Which contract type exhibits a higher number of customers who have left the company?

3. How does the rate of customer churn change in relation to the duration of their subscription? (Visualized with a line chart)

4. Is there a correlation between the total charges accrued by customers and the type of contract they have? (Visualized with a bar chart)
5. What are the preferred payment methods?

### Step1: Import Libraries

#### Import Libraries

In [1]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 

warnings.filterwarnings('ignore')

### Step2: Data Loading
The data for this project is divided into three parts

#### First Data set 

The first dataset is stored in ä Mcrosoft Sql Server . I will  connect to it remotely by using the  **pyodbc** library .

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [3]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [4]:
# Use the connect method of the pyodbc library and connect to the server . 


connection = pyodbc.connect(connection_string)

In [5]:
# The sql query to get the data 

query = "SELECT * FROM dbo.LP2_Telco_churn_first_3000"

data1 = pd.read_sql(query, connection)

In [6]:
data1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

###  Second Dataset

* The second dataset for this project was found on OneDrive and is in CSV format.
* This dataset will serve as the test dataset.

In [7]:
data2 = pd.read_csv(r"C:\Users\pasca\OneDrive\Desktop\PaccyDEM\LP2_Machine_Learning_Project\Telco-churn-second-2000.csv")

In [8]:
data2.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8

### Third Dataset 
The third dataset is also called Testing Data set will used to test my models

In [9]:
testing_data = pd.read_csv(r"C:\Users\pasca\OneDrive\Desktop\PaccyDEM\LP2_Machine_Learning_Project\LP2_Telco-churn-last-2000.csv")

In [10]:
testing_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

## Step3 : Data Inspecting

### Data1

In [11]:
data1.head()             # Displaying the first few rows of the DataFrame 'data1' to inspect the data structure

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [12]:
data1.shape         # Checking the dimensions (number of rows and columns) of the DataFrame 'data1'

(3000, 21)

In [13]:
data1.info()             # Displaying concise information about the DataFrame 'data1', including data types and non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

##### Check for null values

In [51]:
data1.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

###  Calculate and display the percentage of null values for each column in 'data1'

In [74]:
# Calculate the percentage of null values for each column in 'data1'
null_percentages = (data1.isnull().sum() / len(data1)) * 100

# Display the result
print("Percentage of null values for each column in 'data1':")
print(null_percentages)

Percentage of null values for each column in 'data1':
customerID           0.000000
gender               0.000000
SeniorCitizen        0.000000
Partner              0.000000
Dependents           0.000000
tenure               0.000000
PhoneService         0.000000
MultipleLines        8.966667
InternetService      0.000000
OnlineSecurity      21.700000
OnlineBackup        21.700000
DeviceProtection    21.700000
TechSupport         21.700000
StreamingTV         21.700000
StreamingMovies     21.700000
Contract             0.000000
PaperlessBilling     0.000000
PaymentMethod        0.000000
MonthlyCharges       0.000000
TotalCharges         0.166667
Churn                0.033333
dtype: float64

#### Check for duplicate

In [75]:
data1.duplicated().sum()

0

In [76]:
data1.describe().T                # Generate descriptive statistics for numerical columns in 'data1' and transpose the result

,count,mean,std,min,25%,50%,75%,max
tenure,3000.0,32.527333,24.637768,0.000000,9.000000,29.000000,56.000000,72.000000
MonthlyCharges,3000.0,65.347400,30.137053,18.400000,35.787499,70.900002,90.262501,118.650002
TotalCharges,2995.0,2301.278315,2274.987884,18.799999,415.250000,1404.650024,3868.725098,8564.750000

## Inspecting Column by column 
 however, only a subset of columns is presented for the sake of time constraints.

In [34]:
data1["tenure"].unique()

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26,  0, 39], dtype=int64)

In [37]:

result = data1[data1['tenure'] == 0]  # 0 means the customer has been with the company for less than one mont
result                                 #  This is due to the representation of tenure in months.

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,False,True,True,0,False,None,DSL,True,...,True,True,True,False,Two year,True,Bank transfer (automatic),52.549999,NaN,False
753,3115-CZMZD,Male,False,False,True,0,True,False,No,None,...,None,None,None,None,Two year,False,Mailed check,20.250000,NaN,False
936,5709-LVOEQ,Female,False,True,True,0,True,False,DSL,True,...,True,False,True,True,Two year,False,Mailed check,80.849998,NaN,False
1082,4367-NUYAO,Male,False,True,True,0,True,True,No,None,...,None,None,None,None,Two year,False,Mailed check,25.750000,NaN,False
1340,1371-DWPAZ,Female,False,True,True,0,False,None,DSL,True,...,True,True,True,False,Two year,False,Credit card (automatic),56.049999,NaN,False

In [38]:
data1["PhoneService"].unique()

array([False,  True])

In [40]:
data1["MultipleLines"].unique()

array([None, False, True], dtype=object)

In [44]:
multuplelines_null_count = data1["MultipleLines"].isnull().sum()             # # Count the number of null values in the 'MultipleLines' column

multuplelines_null_count

269

In [45]:
data1["InternetService"].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [48]:
internet_service_count = data1['InternetService'].eq('No').sum()
internet_service_count

651

In [50]:
data1["OnlineSecurity"].unique()

array([False, True, None], dtype=object)

In [59]:
data1["StreamingMovies"].unique()

array([False, True, None], dtype=object)

In [60]:
data1["Contract"].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [61]:
data1.Contract.value_counts()      ## Count the occurrences of each unique value in the 'Contract' column and display the result

Contract
Month-to-month    1641
Two year           746
One year           613
Name: count, dtype: int64

In [64]:
data1["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [65]:
data1.PaymentMethod.value_counts()            ## Count the occurrences of each unique value in the 'paymentmethod' column and display the result

PaymentMethod
Electronic check             1004
Bank transfer (automatic)     687
Credit card (automatic)       657
Mailed check                  652
Name: count, dtype: int64

In [66]:
data1["MonthlyCharges"].unique()

array([29.85000038, 56.95000076, 53.84999847, ..., 33.90000153,
       34.        , 38.59999847])

In [68]:
data_Montlycharges = data1[data1["MonthlyCharges"]==34.] 
data_Montlycharges

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2992,4177-JPDFU,Male,False,False,False,12,False,None,DSL,False,...,False,True,False,False,Month-to-month,False,Mailed check,34.0,442.450012,False

In [69]:
data1["TotalCharges"].unique()

array([  29.85000038, 1889.5       ,  108.15000153, ..., 6143.14990234,
        144.80000305,  414.95001221])

In [70]:
data1["Churn"].unique()

array([False, True, None], dtype=object)

In [73]:
data1["Churn"].isnull().sum()

1

In [72]:
data1.Churn.value_counts()

Churn
False    2219
True      780
Name: count, dtype: int64

## Data2

In [77]:
data2.head(15)           # Display the first 15 rows of the 'data2' DataFrame for a quick overview of the data.

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15
5,0516-QREYC,Female,1,No,No,24,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,20.30,459.95
6,9685-WKZGT,Male,1,No,No,14,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.95,1036.75
7,6022-UGGSO,Female,1,No,No,32,Yes,No,Fiber optic,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,74.40,2276.95
8,8084-OIVBS,Female,0,No,No,11,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.00,211.95
9,8896-BQTTI,Male,0,No,No,1,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,25.00,25
10,3865-QBWSJ,Male,1,No,Yes,38,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Mailed check,80.45,3162.65
11,3352-RICWQ,Female,0,Yes,Yes,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.75,210.65
12,2160-GPFXD,Male,0,Yes,Yes,54,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Credit card (automatic),65.65,3566.7
13,2065-MMKGR,Female,0,No,No,29,Yes,Yes,DSL,No,No,No,No,Yes,Yes,One year,Yes,Credit card (automatic),71.00,2080.1
14,5857-TYBCJ,Male,1,Yes,No,44,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,No,Month-to-month,Yes,Electronic check,89.20,4040.2

In [78]:
data2.shape             # Output the dimensions (number of rows and columns) of the 'data2' DataFrame.

(2000, 20)

In [18]:
data2.info()                   # Display concise information about the 'data2' DataFrame, including data types and non-null counts.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

#### Check for null values

In [80]:
data2.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

#### check for duplicate

In [85]:
data2.duplicated().sum()

0

In [88]:
data2.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,2000.0,0.161500,0.368084,0.00,0.00,0.0,0.000,1.00
tenure,2000.0,31.853000,24.632677,0.00,8.00,27.0,55.000,72.00
MonthlyCharges,2000.0,63.933325,30.136858,18.25,34.25,69.8,89.275,118.75

In [87]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

### Inspecting column by column

In [97]:
data2["SeniorCitizen"].unique()             # Display unique values in the 'SeniorCitizen' column. I infer that 0 implies 'False' and 
                                            # 1 implies 'True' based on data1 and relevant literature.

array([0, 1], dtype=int64)

In [100]:
data2["tenure"].unique()

array([12,  9, 27,  1, 24, 14, 32, 11, 38, 54, 29, 44, 59,  3, 18, 67, 22,
       33,  5,  2, 72, 16,  8, 23, 50, 17, 68, 25, 71, 46, 48, 61, 37, 65,
       49, 64, 21, 10,  6, 51, 47, 52, 35, 45,  4, 60, 28, 39, 30, 55, 58,
       26, 43, 56, 36, 13, 70, 69, 41, 15, 19, 31, 34, 66, 40,  7, 53, 63,
       42,  0, 57, 62, 20], dtype=int64)

In [101]:

result = data2[data2['tenure'] == 0]  # 0 means the customer has been with the company for less than one mont
result                                 #  This is due to the representation of tenure in months.

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,
826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
1380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,

In [103]:
data2["MultipleLines"].unique()

array(['Yes', 'No', 'No phone service'], dtype=object)

In [107]:

count_no_phone_service = data2['MultipleLines'].eq("No phone service").sum()

count_no_phone_service

193

In [109]:
data2.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55

In [110]:
data2["InternetService"].unique()

array(['Fiber optic', 'No', 'DSL'], dtype=object)

In [111]:
data2["OnlineSecurity"].unique()

array(['No', 'No internet service', 'Yes'], dtype=object)

In [113]:

count_no_internet_service = data2['OnlineSecurity'].eq("No internet service").sum()

count_no_internet_service

446

In [114]:
data2["OnlineBackup"].unique()

array(['No', 'No internet service', 'Yes'], dtype=object)

In [120]:
data2["StreamingMovies"].unique()

array(['No', 'No internet service', 'Yes'], dtype=object)

In [121]:
data2["Contract"].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [122]:
data2.Contract.value_counts()

Contract
Month-to-month    1131
Two year           451
One year           418
Name: count, dtype: int64

In [124]:
data2.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55

In [125]:
data2["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [126]:
data2.PaymentMethod.value_counts()

PaymentMethod
Electronic check             665
Mailed check                 484
Credit card (automatic)      432
Bank transfer (automatic)    419
Name: count, dtype: int64

In [127]:
data2["MonthlyCharges"].unique()

array([ 84.45,  20.4 ,  81.7 ,  79.5 ,  89.15,  20.3 ,  74.95,  74.4 ,
        20.  ,  25.  ,  80.45,  19.75,  65.65,  71.  ,  89.2 ,  86.75,
        55.3 ,  61.5 ,  25.1 ,  55.15,  34.05,  19.95,  89.7 ,  26.3 ,
        84.95,  20.7 ,  43.25,  48.35,  79.55,  71.05,  19.45, 110.8 ,
        84.5 ,  69.3 ,  49.35,  20.35, 105.6 ,  64.45, 108.6 ,  49.9 ,
        30.3 ,  30.4 ,  45.4 , 103.3 ,  84.15,  44.45,  85.4 ,  89.9 ,
        55.05, 104.1 , 106.6 ,  75.2 ,  70.5 ,  19.6 ,  55.85,  24.05,
        38.1 , 106.4 ,  34.25, 100.05,  68.65,  45.8 ,  75.75,  84.4 ,
        96.4 ,  20.55,  50.95,  90.5 ,  79.4 ,  58.75,  59.45, 105.7 ,
        56.25,  53.3 ,  85.55,  24.3 ,  77.85,  59.9 ,  23.95,  20.15,
       105.35,  95.65,  87.05,  81.  ,  82.45,  53.5 ,  20.5 ,  54.4 ,
        58.6 ,  84.8 ,  61.4 ,  79.65,  94.45,  79.8 ,  54.2 ,  74.05,
        49.15,  19.4 , 113.65, 106.  ,  25.95,  19.1 , 103.4 , 100.55,
        95.4 ,  75.15, 107.9 ,  19.5 ,  85.95,  24.95,  59.4 ,  69.95,
        82.85,  19.  ,  38.85,  30.6 ,  95.  ,  78.45,  74.3 ,  51.05,
        19.2 ,  99.55,  70.  , 109.1 ,  45.3 ,  29.85,  76.45,  95.1 ,
        19.8 ,  72.8 ,  18.95,  76.65,  99.15, 101.75,  75.45,  64.1 ,
        25.65,  75.1 ,  95.85,  72.75,  19.85,  19.05,  44.95,  49.55,
        94.85,  46.25,  19.35,  69.6 ,  90.7 , 101.4 ,  20.25,  48.8 ,
        74.35,  68.75, 100.2 ,  20.85,  95.9 ,  45.  ,  81.5 ,  25.5 ,
        48.9 ,  84.1 ,  81.3 ,  95.2 ,  36.45,  83.3 ,  25.05,  89.85,
        49.85,  54.65,  29.35,  19.15,  55.55,  80.55,  69.5 , 104.3 ,
        79.6 ,  55.25,  88.05, 117.6 ,  19.65,  70.55,  93.85,  65.8 ,
        20.05,  80.  ,  35.4 ,  80.25,  50.45,  20.45,  24.7 ,  77.3 ,
        29.75,  44.9 ,  29.8 ,  74.65,  71.95,  20.75,  56.3 , 105.25,
        94.2 ,  19.55,  53.65,  29.9 ,  19.7 ,  43.7 ,  49.45, 106.55,
        20.1 ,  39.7 ,  54.5 ,  83.8 , 111.6 ,  86.65, 106.75,  62.1 ,
       104.5 , 101.8 , 110.6 ,  84.9 ,  93.2 ,  24.4 ,  85.  ,  87.45,
        85.8 ,  91.1 ,  70.75,  74.8 ,  24.8 , 100.85, 101.35,  68.25,
       105.1 ,  79.15,  57.2 ,  94.8 , 102.5 ,  69.2 ,  95.45, 100.95,
        88.5 ,  35.  ,  64.  ,  69.1 ,  80.2 ,  49.3 ,  84.35, 117.2 ,
       103.45,  77.95, 109.95,  94.75,  25.2 ,  19.9 ,  44.8 ,  80.05,
       107.35,  47.85,  70.8 ,  29.5 ,  59.1 ,  25.55,  75.55,  85.65,
        70.15,  95.3 ,  70.25,  50.3 ,  97.8 ,  46.3 , 106.3 ,  75.35,
        89.4 ,  88.  ,  83.15,  43.8 ,  62.05,  74.15,  84.05,  20.9 ,
       105.9 ,  99.5 ,  44.15,  53.9 ,  85.45,  85.05,  44.1 ,  90.2 ,
        50.85,  59.2 ,  53.45,  83.2 ,  54.9 ,  57.5 , 103.9 ,  93.8 ,
        89.25,  94.15,  55.6 ,  48.7 ,  19.25, 104.9 ,  54.85,  19.3 ,
        79.85,  75.5 ,  73.75,  96.05,  68.4 ,  20.65,  70.6 , 107.6 ,
        61.55,  99.25,  91.7 , 100.7 ,  84.3 ,  88.95,  86.8 ,  20.95,
        50.7 ,  53.4 , 101.9 ,  59.5 ,  87.8 ,  41.9 ,  83.  ,  69.85,
       109.55,  92.15,  97.  ,  58.35,  50.6 ,  89.5 ,  70.4 ,  69.8 ,
        94.3 ,  95.95, 101.05, 107.75,  54.6 ,  71.3 ,  94.7 , 104.15,
        90.55,  60.8 ,  98.8 ,  98.15,  35.35, 103.15,  81.4 ,  61.45,
        95.7 , 104.8 ,  70.95,  97.65,  35.65,  85.25,  88.8 ,  55.7 ,
        85.2 ,  91.15,  83.85,  45.9 ,  91.4 ,  91.5 ,  51.3 ,  21.1 ,
       104.75, 106.15,  85.75, 100.75,  78.55,  77.8 ,  83.45,  73.25,
        90.1 ,  29.2 ,  46.6 ,  85.35,  54.  , 104.25,  84.75,  75.25,
        24.6 ,  55.5 ,  43.3 , 109.5 ,  84.85, 112.1 ,  95.05,  50.35,
        74.6 ,  74.2 ,  69.  , 105.2 , 109.2 ,  45.15, 108.65,  40.65,
        55.35,  90.05,  68.05,  96.2 , 102.1 ,  23.4 ,  92.2 ,  43.9 ,
        80.5 ,  89.8 ,  90.45,  50.75,  84.6 ,  89.65,  51.7 ,  23.3 ,
        65.4 ,  65.1 ,  81.2 ,  72.9 ,  74.5 ,  60.3 ,  75.  ,  90.15,
        40.  ,  99.45,  69.05,  59.7 ,  86.25,  45.65,  70.1 ,  40.75,
        70.2 ,  84.2 ,  66.15,  45.85,  49.8 , 103.95, 100.15,  99.65,
        73.7 ,  50.05,  60.25, 105.75,  87.3 ,  54.25,  85.3 ,  50.  ,
        90.95,  72.25,  96.1 ,  25.15,  71.25, 113.8 ,  24.55,  50.15,
       100.5 ,  74.45,  81.9 ,  69.7 ,  25.35,  24.65,  25.25,  60.  ,
        24.1 , 109.9 ,  35.5 ,  87.55,  88.4 ,  50.8 ,  99.  ,  96.55,
        59.75, 111.5 ,  24.25,  30.55, 101.  , 100.  ,  98.05,  71.15,
        54.15,  63.9 ,  69.15,  64.65, 108.75,  98.85,  89.6 ,  83.25,
        24.5 ,  73.  ,  80.4 ,  78.5 , 102.  ,  48.95,  18.25,  54.55,
        89.05,  96.6 ,  77.15,  35.05, 108.1 ,  20.2 ,  49.2 ,  71.65,
       106.5 ,  94.25,  68.95,  58.5 ,  78.9 ,  79.2 , 109.45,  29.15,
        76.05,  24.45,  66.5 ,  89.35,  73.6 ,  82.65,  49.  ,  80.35,
        25.45,  55.8 , 110.9 ,  77.75,  26.2 ,  79.05,  80.85,  98.4 ,
        56.35,  50.4 , 109.75,  91.25,  54.75,  81.45,  49.1 , 100.3 ,
        65.25,  94.1 ,  73.55, 104.65,  44.55,  54.45, 105.  ,  88.7 ,
        74.25,  30.75, 112.9 ,  94.05,  78.85,  78.65,  74.75, 105.65,
        96.5 ,  70.85,  73.9 ,  45.45, 109.65,  65.  , 114.1 ,  86.95,
       105.45,  25.4 , 102.55,  24.  ,  25.6 ,  73.5 ,  98.25, 101.55,
       103.1 ,  34.2 ,  43.75, 111.95, 100.65,  55.95, 116.05,  45.75,
        82.  ,  65.15,  88.85, 106.85,  80.15, 109.25,  56.1 , 118.6 ,
        24.15, 115.5 , 111.3 ,  80.6 ,  20.8 ,  35.2 ,  78.8 ,  89.95,
        49.4 , 115.25,  81.25,  93.55,  86.4 ,  66.3 ,  94.65,  82.05,
        72.1 ,  34.7 , 109.4 ,  40.25,  42.9 ,  44.  ,  88.9 ,  57.65,
       108.05, 105.3 , 102.6 ,  73.85,  61.35,  57.55,  29.25,  84.55,
       111.75, 107.7 ,  63.7 ,  24.75,  50.9 ,  60.4 ,  79.25, 110.1 ,
        25.3 ,  24.35,  76.5 ,  81.15,  38.5 ,  92.9 ,  93.5 ,  84.7 ,
        66.  , 101.5 ,  74.9 ,  99.75,  67.8 ,  25.7 ,  56.15,  86.7 ,
        50.55,  54.35,  45.35,  59.  ,  69.45,  64.95,  18.85, 114.3 ,
        45.05,  51.  , 110.45,  84.65,  60.05,  44.65,  93.25,  20.6 ,
        34.8 ,  60.75,  51.35,  64.05,  94.6 , 100.25,  98.9 ,  97.7 ,
        40.3 ,  46.2 ,  24.9 ,  65.7 ,  63.35,  50.1 ,  74.  ,  38.9 ,
        65.45,  98.7 ,  99.35,  95.8 ,  67.5 ,  78.15,  26.1 ,  78.05,
        40.35,  68.9 ,  76.  ,  82.3 ,  29.45,  59.15,  44.75,  90.8 ,
       106.7 ,  67.95,  77.4 ,  99.7 ,  78.95,  95.55,  62.85,  71.55,
        94.95,  86.1 ,  39.3 ,  36.25,  23.9 ,  98.6 , 103.65,  99.9 ,
        39.85,  60.5 , 103.85,  24.85,  89.  ,  55.  ,  76.15, 117.35,
        45.2 ,  89.75,  49.95,  67.05,  87.95,  75.7 ,  62.15, 101.25,
       115.15,  86.55,  28.6 ,  56.4 ,  73.3 ,  98.65,  33.6 ,  79.9 ,
       104.05,  70.05,  23.05,  59.95,  78.6 , 116.8 ,  43.55,  65.2 ,
       102.95,  90.6 , 108.2 ,  92.  , 112.2 ,  70.3 ,  75.85,  80.65,
        68.5 , 115.75,  59.55,  36.1 ,  94.  ,  61.15, 110.2 , 106.35,
        65.9 ,  52.5 ,  88.75,  75.3 ,  26.  ,  99.4 ,  73.15,  66.4 ,
       115.55, 104.45,  92.4 ,  25.75,  49.6 ,  97.05, 105.95,  91.85,
        40.1 , 110.3 ,  85.15,  60.95,  46.  ,  58.55,  86.35,  69.75,
        65.6 ,  82.1 ,  79.1 ,  90.65, 110.  ,  67.45,  89.1 ,  69.9 ,
        51.1 ,  94.4 ,  78.25,  76.4 ,  48.65,  59.85,  80.3 ,  91.8 ,
        18.8 ,  64.75,  89.45,  85.6 ,  54.1 ,  80.9 ,  90.85,  48.75,
        79.7 , 100.4 ,  57.95,  86.5 ,  62.45,  89.55,  83.55,  71.45,
        46.35,  66.1 ,  75.4 ,  70.45,  21.05,  69.35,  40.55,  75.65,
        60.6 , 101.15,  98.  , 104.7 ,  93.9 ,  86.45,  98.5 ,  78.2 ,
        88.45,  69.55,  83.75,  98.1 ,  53.35,  69.4 ,  40.15,  70.35,
        53.85, 115.6 ,  97.95,  78.3 ,  96.8 ,  77.35,  66.05,  68.15,
        92.45,  45.55,  93.4 ,  88.15,  79.35,  79.75, 105.15,  79.3 ,
       105.5 ,  92.7 ,  26.25,  96.95, 115.8 ,  67.75,  90.35,  55.75,
       114.6 ,  66.8 , 104.85,  74.1 , 118.75,  85.9 , 101.3 ,  21.2 ,
        24.2 , 102.8 ,  99.95, 115.85,  35.1 ,  99.1 ,  67.25,  55.1 ,
       117.8 ,  45.25,  95.35, 116.6 ,  65.05,  92.5 ,  18.75,  93.6 ,
       104.4 ,  70.7 , 108.95,  26.45,  86.2 ,  51.2 ,  75.8 ,  36.15,
        61.2 ,  99.85,  58.4 ,  88.3 , 108.9 , 107.4 , 106.65, 104.35,
        55.45,  61.3 ,  96.85, 108.25, 105.05,  66.9 , 110.7 ,  38.25,
        54.95,  79.  ,  39.1 , 100.45,  39.55,  23.15,  72.45,  60.1 ,
        91.55,  35.8 , 113.15,  53.95,  99.3 ,  51.55,  78.75,  54.7 ,
        71.1 , 106.25, 114.05, 116.15,  66.25,  99.8 ,  90.  ,  54.05,
        97.25,  83.05,  41.1 ,  74.55,  40.2 ,  78.35, 109.7 ,  33.45,
        39.4 ,  76.25,  46.4 ,  59.6 , 108.5 ,  58.95,  63.05,  64.4 ,
        83.9 , 117.45,  59.05,  76.55,  62.5 ,  29.4 ,  94.9 , 111.65,
       106.05, 113.45,  92.55,  49.7 ,  30.2 ,  85.7 ,  74.7 , 107.55,
        23.85,  76.1 ,  39.2 ,  39.15,  59.8 ,  49.75,  35.75,  60.15,
        84.  , 110.75,  76.35,  18.9 ,  98.35,  91.65,  44.35,  47.95,
        63.6 ,  53.  ,  36.85, 103.75,  56.75,  59.65,  45.5 , 106.45,
        30.05,  44.7 ])

In [128]:
data2["TotalCharges"].unique()

array(['1059.55', '181.8', '2212.55', ..., '552.95', '7053.35', '301.55'],
      dtype=object)

### Data 3

In [130]:
testing_data.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No

In [131]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [133]:
testing_data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [134]:
testing_data.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,2043.0,0.168380,0.374295,0.00,0.000,0.00,0.000,1.00
tenure,2043.0,32.649046,24.376248,0.00,9.000,30.00,55.000,72.00
MonthlyCharges,2043.0,64.712555,29.970010,18.55,35.825,70.25,89.625,118.35

In [135]:
testing_data.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.5,312.7,No

In [141]:
testing_data["Dependents"].unique()

array(['No', 'Yes'], dtype=object)